.button {
    background-color: $blue;
    border: none;
    color: white;
    padding: $s-size;
    font-size: $font-size-large;
    font-weight: 300;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 20%;
}
